ul {
    list-style: none;
}

.header{
    padding: 20px 0;
    text-align: center;
}

.main {
    
}

.report {
    background-color: lightblue;
    border: 1px solid black;
}

.xml-warning {
    font-size: 6pt;
    text-align: right;
    color: gray;
}

.section-header {
    padding-top: 10px;
}